#ports
  .row
    .large-10.large-centered.columns
      %h1.text-center.margin-top-50.margin-bottom-30 Get Started Using Portly
      - if session[:new_user]
        %p.text-center
          Thanks for signing up for Portly! Your next step is to download and install the app.
          Just unzip the downloaded file and run <strong>Portly.app</strong>.
          Once it's installed and you sign into the app, come right back here and we'll
          show you how to get your first tunnel up and running.
      - else
        %p.text-center.margin-bottom-50
          Looks like you haven't installed the app yet!  In order to use Portly, you'll need to
          download the app and run it on your computer.
          Just unzip the downloaded file and run <strong>Portly.app</strong>.
          Once it's installed and running, we'll show you
          right here how to get your first tunnel up and running.

  .row
    .large-10.large-centered.text-center.columns.large-offset-1.margin-bottom-100
      %a.button.large{:href => '/downloads/current'} Free Download
      %span.big.margin-left-20
        = "(#{Version.last.version})"
        for Mac OS X 10.7 and up

- content_for :javascripts do
  = javascript_include_tag 'ports'
  :coffeescript
    nil = 0
    new Portly.Ports.Router
      pro: #{current_user.plan.free? ? 'false' : 'true'}
      domain: '-#{current_user.full_domain}'
      collection: new Portly.PortCollection([])
      computers: new Portly.ComputerCollection([])
