- ordinal = current_user.schedule.good_until.day.ordinalize

- unless current_user.plan.gratis?
  .banner{:class => flash[:plan_change] || flash[:card_change] ? 'yellow' : 'white' }
    .row
      .large-12.columns
        - if !current_user.account.customer?
          = succeed '.' do
            %a{:href => '/billing'} Set up payment information now
        - else #if current_user.active?
          = flash[:card_change] if flash[:card_change]
          = flash[:plan_change] if flash[:plan_change]
          - unless flash[:card_change] || flash[:plan_change]
            Your account is up to date.
.padding-bottom-50
  .row.padding-top-20.padding-bottom-20
    .large-12.columns
      %h3 Your Account
    .large-5.columns
      %h4 Your Plan: #{current_user.schedule.plan.name}
      .table
        .row
          .large-6.columns Payment Frequency:
          .large-6.columns.strong= current_user.account.billing_period.titleize
        .row
          .large-6.columns Next Billing Date:
          .large-6.columns.strong= current_user.schedule.good_until.strftime("%B %e, %Y")
        .row
          .large-6.columns #{current_user.schedule.plan.name}:
          .large-6.columns.strong $#{sprintf('%.02f', current_user.schedule.plan.send(current_user.account.billing_period.to_sym))}
      -#.row
        .large-12.columns
          .panel.callout.radius
            - if current_user.plan.gratis?
              You're on the free plan.
              %a.color-blue{:href => '/plans'} Looking to upgrade?
            - elsif current_user.account.transactions.present?
              You were recently billed on #{current_user.account.transactions.last.created_at}
            - else
              You haven't had to pay yet.
      %h4.margin-top-30 Payment Information
      .row.form
        .large-12.columns
          .toggle
            .show
              - if current_user.account.customer? && current_user.account.card
                .panel.radius
                  %h5.margin-bottom-0 Card on File
                  = current_user.account.card.card_type
                  ending in
                  = current_user.account.card.last4
                  .small.margin-top-15
                    %a.trigger.button.margin-bottom-0{:href => '/billing'} Change your payment information
              - elsif current_user.plan.gratis?
                .panel.radius
                  You're currently using our free plan. To remove time limits
                  and add handfuls of other features,
                  = succeed '.' do
                    %a{:href => '/plans'} upgrade your account
              - else
                .panel.radius
                  You haven't provided and payment information yet.  To make sure you have
                  uninterrupted service, save this information now.
                  .text-center.margin-top-10
                    %a.trigger{:href => '/billing'} Set up payment information
            .hide
              %form.stripe-form= render :'account/_card', :layout => nil, locals: { card: current_user.account.card }
    .large-6.large-offset-1.columns
      -#.row.large-12.columns
        %h4 Free Donuts
        .circle-container
          .amount= current_user.account.bonus_months
          #{current_user.account.bonus_months == 1 ? 'month' : 'months'}
          .circle-shadow
            .circle-amount{style: "height: #{(350 * ((current_user.account.bonus_months > 5) ? 5 : (current_user.account.bonus_months.to_f / 5))).to_i}px"}
              .circle
        .headline.text-center
          EARN GLAZE CREDITS<br />for<br/> FREE MONTHS
        .row
          .large-8.large-centered.columns.margin-top-10.block.big-block.text-justify
            Share Portly with your friends. Everyone who sticks around
            past the trial period earns you
            %strong $3.00
            to apply to your account. That means 1000 people gets you #{(250/current_user.schedule.plan.monthly).to_i}
            years of Portly for free!
      .row
        .large-12.columns
          .panel.radius.text-center.small
            .row
              .large-2.columns
                %strong= current_user.plan.computer_limit
                <br />Computer#{current_user.plan.computer_limit == 1 ? '' : 's'}
              .large-2.columns
                %strong= current_user.plan.tunnel_limit
                <br />Connection#{current_user.plan.tunnel_limit == 1 ? '' : 's'}
              .large-3.columns
                %strong= current_user.plan.free? ? '15 Minute' : 'No'
                <br />Time Limit
              .large-2.columns
                %strong.tooltipped{style: 'line-height: 2.5', :title => "<strong>#{current_user.plan.free? ? "Here's what you're missing" : "Some of your other features"}</strong><br />Auto-reconnects<br />HTTP Basic Authentication<br />Custom Placeholder Pages"} And...
              .large-3.columns
                %a.margin-bottom-0.button{:href => '/plans'} Upgrade
      .row
        .large-12.columns
          %h4 API Keys
          %p.small
            For accounts with multiple users, or if you would rather only
            use your password for the website, you can generate API Keys to
            sign into the Portly app.
          .table.api-keys
            - current_user.api_keys.each do |key|
              .row.small
                .large-10.columns.strong.code
                  %span.copyable= key.code
                .large-2.columns.text-right
                  %a{href: '#/delete'} Remove
          %p.margin-top-10
            %a.button.small.add-api-key{:href => '#/add'} Add a Key
      .row
        .large-12.columns
          %h4.margin-top-30 Login Information
          .toggle.login-information
            .show
              .table
                .row
                  .large-5.columns Email Address:
                  .large-7.columns.strong.login-email= current_user.email
                .row
                  .large-5.columns Password:
                  .large-7.columns.strong *****
              .row.margin-top-20
                .large-12.columns.text-right
                  %a.trigger{:href => '/account/login'} Edit
            .hide= render :'account/_login', :layout => nil

- content_for :javascripts do
  = javascript_include_tag 'account'
  :coffeescript
    new Portly.Account.Views.Index()
