.row
  .large-10.large-centered.columns
    %h1.text-center.margin-top-50.margin-bottom-30 Billing Information
    %form.stripe-form
      %input{:type => 'hidden', :name => 'plan', :value => @plan.reference}
      %p.text-center.margin-bottom-40
        You're almost there!
        - if current_user.account.customer?
          Verify the billing information below
        - else
          Complete the billing information below
        and we'll get you started.
        - if current_user.account.customer?
          We'll prorate the new plan until next month.
      .large-3.columns
        .plan-box
          %h4.negative-margin-bottom-20 Your Plan
          - case @plan.reference
            - when 'glazed'
              .five
            - when 'creme'
              .ten
            - when 'burger'
              .twenty{style: 'width: 188px'}
            - when 'changelog'
              .changelog
            - else
              .free
          .text-center
            .negative-margin-top-10.strong= @plan.name
            .small #{@plan.tunnel_limit} open connection#{@plan.tunnel_limit == 1 ? '' : 's'}
            .small
              %a{href: '/plans'} Change Plan

      - if @plan.gratis?
        .large-9.columns
          %h3.margin-top-60.text-center Are you sure you want to switch to the free plan?
          %p.text-center
            Your ports will
            be limited to 15-minute sessions<br /> and you'll lose some of your
            custom features.
          %p.text-center
            %button{type: 'submit'} Confirm this plan
          - content_for :javascripts do
            :coffeescript
              new Portly.Forms.Views.CreditCard
                post: '/account/billing'
                success: '/account'
      - else
        .large-3.columns
          .small.billing-box
            %ul.masked-radios.plans
              %li{class: @plan.gratis? ? 'big' : ''}
                %label.selected
                  %input{type: 'radio', name: 'billing_period', value: 'monthly', checked: true} &nbsp;#{number_to_currency @plan.monthly} / mo
              %li
                %label
                  %input{type: 'radio', name: 'billing_period', value: 'yearly'} &nbsp;#{number_to_currency @plan.yearly} / year
                  .small.mute #{number_to_currency(@plan.yearly / 12)} / month
        .large-6.columns
          = render :'account/_card', :layout => nil, locals: { :card => current_user.account.card, billing: true }

