%header.padding-top-20.padding-bottom-30.margin-bottom-30
  .row
    .large-12.columns.text-center
      %h2.margin-bottom-0 Choose your plan
      %h5.margin-bottom-0 Pick the plan that best suits your needs. Change plans anytime.
- if signed_in?
  - button_text = nil
  - url = '/upgrade'
  - plan = current_user.account.plan.reference
- else
  - button_text = 'Sign Up'
  - url = '/signup'
  - plan = ''
.content-area
  .plans
    .row.free
      .large-3.columns.icon
      .large-6.columns
        %h3 Free
        %p
          Great for students, casual testing, and product evaluation.
        %ul
          %li 15-minute sessions
          %li 1 open port
      .large-3.columns.text-center
        - if plan == 'free'
          %a.big.button.width-80.margin-top-35.margin-bottom-0.ghost{:href => "#"} Current Plan
        - else
          %a.big.button.width-80.margin-top-35.margin-bottom-0{:href => "#{url}?plan=free"}
            - if button_text
              = button_text
            - else
              Downgrade
        .weak.big $0/month
    .row.pro
      .large-3.columns.icon
      .large-6.columns
        %h3 Pro
        %p
          Perfect for designers, developers, and freelancers who want to test on mobile or get feedback from clients.
        %ul
          %li Auto-reconnecting sessions
          %li Unlimited open ports
          %li SSL support
          %li Site mirroring
          %li Password-protected sites
      .large-3.columns.text-center
        - if plan == 'pro'
          .big.button.width-80.margin-top-35.margin-bottom-0.ghost{:href => "#"} Current Plan
        - else
          %a.big.button.width-80.margin-top-50.margin-bottom-0{:href => "#{url}?plan=pro"}
            - if button_text
              = button_text
            - elsif plan == 'free'
              Upgrade
            - else
              Downgrade
        .weak.big $4.99/month
    .row.unlimited
      .large-3.columns.icon
      .large-6.columns
        %h3 Unlimited
        %p
          Designed for users who need more robust forwarding and who want to install Portly on multiple computers.
        %ul
          %li Pro features +
          %li Unlimited installs
          %li Raw port forwarding
      .large-3.columns.text-center
        - if plan == 'unlimited'
          %a.big.button.width-80.margin-top-35.margin-bottom-0.ghost{:href => "#"} Current Plan
        - else
          %a.big.button.width-80.margin-top-50.margin-bottom-0{:href => "#{url}?plan=elite"}
            - if button_text
              = button_text
            - elsif %w(free pro changelog).include? plan
              Upgrade
            - else
              Downgrade
        .weak.big $9.99/month
