%header.gray.pricing-header.margin-top-0.margin-bottom-0.padding-top-0.padding-bottom-60
  %h1.source.margin-top-0 Try us free for 30 days.
  %h5.margin-bottom-0 (Get your friends to join in and you could be free for life.)
.content-area
  .row
    .large-10.columns.large-offset-1.margin-bottom-100
      .pricing-box
        - @plans.each do |plan|
          %ul.pricing-table
            %li.price.gray1= plan.monthly.to_i
            %li.bullet-item #{plan.computer_limit.to_i} #{"computer".pluralize plan.computer_limit}
            %li.bullet-item
              %strong.block= plan.tunnel_limit
              Open #{"Connection".pluralize plan.tunnel_limit}
            %li.bullet-item
              %strong.block #{plan.bandwidth} GB
              Monthly Bandwidth
            %li.cta-button
              %a.button{:href => '/signup'} TRY
