.row.intro
  .large-5.columns
    %header.homepage
      %h1.logo-big
        %a{:href => '/'} Portly
      %p.text-center
        Sign up today. <br />
  .large-7.columns
    %h2.margin-top-50 Sign up
    %form(action='/signup' method='post')
      .row
        .small-10.columns
          .row.collapse
            %h4.margin-bottom-0.margin-top-0 Selected Plan: #{@plan.name}
            - unless @plan.gratis?
              .small.panel.small-9.margin-bottom-0
                %h5.margin-bottom-0= "#{number_to_currency @plan.monthly}/month or #{number_to_currency @plan.yearly}/year"
                = "#{@plan.computer_limit} computer#{@plan.computer_limit == 1 ? '' : 's'}"
                <br />
                = "#{@plan.tunnel_limit} simultaneously open tunnel#{@plan.tunnel_limit == 1 ? '' : 's'}"
            .margin-bottom-20
              %a.small{:href => '/pricing'} Change Plan
            %input{type: 'hidden', name: 'user[plan_id]', value: @plan.id}
          .row.collapse
            %label(for='email')
              Email
            .small-9.columns{class: error_class('email')}
              %input(type='text' name='user[email]' id='email' value="#{@user[:email]}")
              = error_message :email
          .row.collapse
            %label(for='subdomain')
              Username
            .small-9.columns{class: error_class('subdomain')}
              %input(type='text' name='user[subdomain]' id='subdomain' value="#{@user[:subdomain]}")
              = error_message :subdomain
              .hint.small.mute.negative-margin-top-10.margin-bottom-15 This is also the subdomain for your account.
          .row.collapse
            %label(for='password')
              Password
            .small-9.columns{class: error_class('password')}
              %input(type='password' name='user[password]' id='password' value="#{@user[:password]}")
              = error_message :password
          .row.collapse
            %label(for='password_confirmation')
              Confirm Password
            .small-9.columns{class: error_class('password_confirmation')}
              %input(type='password' name='user[password_confirmation]' id='password_confirmation' value="#{@user[:password_confirmation]}")
              = error_message :password_confirmation
          .row.collapse
            %button.radius.button(type='submit') Sign up
