.signup
  .vertical-center
  .content
    %h1.logo.centered.margin-bottom-30
      %a{:href => '/'} Portly
    %h2.hide Sign up
    %form(action='/signup' method='post')
      .row
        .small-12.columns
          - if @plan
            .row.collapse
              %h5.text-center.margin-top-0.margin-bottom-0 Selected Plan: #{@plan.name}
              - if @special
                %h6.text-center.margin-bottom-0.margin-top-0= @special
              -# unless @plan.gratis?
                .small.panel.small-9.margin-bottom-0
                  %h5.margin-bottom-0= "#{number_to_currency @plan.monthly}/month or #{number_to_currency @plan.yearly}/year"
                  = "#{@plan.computer_limit} computer#{@plan.computer_limit == 1 ? '' : 's'}"
                  <br />
                  = "#{@plan.tunnel_limit} simultaneously open tunnel#{@plan.tunnel_limit == 1 ? '' : 's'}"
              %input{type: 'hidden', name: 'user[plan_id]', value: @plan.id}
          .row.collapse.margin-top-20
            .small-12.columns{class: error_class('email')}
              %input(type='text' name='user[email]' id='email' value="#{@user[:email]}" placeholder="Email address")
              = error_message :email
          .row.collapse
            .small-12.columns{class: error_class('subdomain')}
              %input(type='text' name='user[subdomain]' id='subdomain' value="#{@user[:subdomain]}" placeholder="Username/subdomain")
              = error_message :subdomain
          .row.collapse
            .small-12.columns{class: error_class('password')}
              %input(type='password' name='user[password]' id='password' value="#{@user[:password]}" placeholder="Password")
              = error_message :password
          .row.collapse
            .small-12.columns{class: error_class('password_confirmation')}
              %input(type='password' name='user[password_confirmation]' id='password_confirmation' value="#{@user[:password_confirmation]}" placeholder="Confirm password")
              = error_message :password_confirmation
          .row.collapse.text-center
            %button.pink.button.width-90(type='submit') Sign up
          .row.collapse.text-center.small
            Already have an account?
            - if @plan
              %a{:href => "/signin?plan=#{@plan.reference}"} Sign In
            - else
              %a{:href => '/signin'} Sign In
