.row
  .large-12.columns
    %h2 Tunnels
    %table.width-100#tunnels
      %thead
        %tr
          %th.width-30
          %th Subdomain
          %th Host:Port
          %th
      %tbody
        - current_user.connectors.each do |c|
          %tr{'data-id' => c.id}
            %td.connected-state= c.connected?
            %td= c.subdomain
            %td #{c.user_host}:#{c.user_port}
            %td.width-20
              .switch.radius.small
                %input.connect{name: "connected_state_#{c.id}", checked: c.connected?, type: 'radio', 'data-post' => '/api/tunnels', 'data-connector_id' => c.id, 'data-access_id' => c.token_id }
                %input.disconnect{name: "connected_state_#{c.id}", checked: !c.connected?, type: 'radio', 'data-delete' => "/api/tunnels/#{c.id}", 'data-access_id' => c.token_id }
                %span
