.update-modal.reveal-modal{ id: "update-tunnel-modal-#{token.id}" }
  %h2 Make some updates
  %form.ajax-form{'data-action-base' => "/api/connectors", :method => 'put'}
    %input.access_id{:type => 'hidden', :name => 'access_id', :value => token.id}
    %label Connection String
    %input.input.connection-string{:type => 'text', :name => 'connection_string', :placeholder => 'localhost:8080'}
    %label Public Endpoint
    %select.hosting-type{:name => 'hosting-type'}
      %option{value: 'local'} Use [subdomain].#{token.user.full_domain}
      %option{value: 'remote'} Set my own CNAME record at my DNS
    .for-local.hide
      %label Subdomain
      .inline-input
        %input.input.subdomain{:type => 'text', :name => 'subdomain', :placeholder => ''}
        \.#{token.user.full_domain}
      .margin-bottom-10
        %small.mute Use an asterisk (<strong>*.#{token.user.full_domain}</strong>) to create a catch-all tunnel
    .for-remote.hide
      %label CNAME Record
      %input.input.margin-bottom-0.cname{:type => 'text', :name => 'cname', :placeholder => ''}
      %small.mute Point your CNAME record to #{App.config.cname_domain}
    .margin-top-10
      %button{:type => 'submit'} Save
      %a.margin-left-10.close-reveal{:href => '#'} Cancel

