.subnav
  .row
    .large-11.columns.padding-left-0.padding-right-0.tunnel-nav
      %ul.nav-bar
        - first = true
        - @computers.each do |token|
          %li
            - k = first ? 'active ' : ''
            - k << (token.online? ? 'online' : 'offline')
            %a{'data-section' => token.id, :title => token.ip_address.to_s, :href => "/tunnels/#{token.id}", :class => k, data: { pjax: true, container: '#tunnels'} }
              .large-icon{:class => token.desktop? ? 'p-desktop' : 'p-laptop' }
              = token.computer_name
              <br />
              %small.online-state= token.online? ? 'ONLINE' : 'OFFLINE'
            - first = false
    .large-1.columns.padding-left-0.padding-right-0
- if @computers.size > 0
  - first = true
  - token = @computers.first
  #tunnels
    .row
      .large-12
        .summary
          .row
            .large-7.columns
              .canvas-frame.left
                %canvas{width: '562px', height: '160px'}
            .large-3.columns
              .traffic-history
                %span.p-arrow-left-2.margin-right-10
                30-day traffic history
              .stacked-boxes
                .flat-box.data-in.left.light.tooltipped{:title => 'Incoming data this billing period'}
                  %span.p-arrow-down
                  = human_number token.bytes_this_month[:in]
                .flat-box.data-out.left.tooltipped{:title => 'Outgoing data this billing period'}
                  %span.p-arrow-up
                  = human_number token.bytes_this_month[:out]
            .large-2.columns.padding-left-0
              .percent-used{:'data-title' => "Data used this month:<br />#{human_number current_user.total_monthly_bandwidth_used} (#{current_user.monthly_bandwidth_percent_used}%)"}
                - if current_user.monthly_bandwidth_percent_used < 75
                  #{current_user.monthly_bandwidth_percent_used}%
                %div{style: "height: #{current_user.monthly_bandwidth_percent_used}%"}
                  - if current_user.monthly_bandwidth_percent_used >= 75
                    #{current_user.monthly_bandwidth_percent_used}%
              %a.flat-link.margin-right-0.tooltipped{:href => '#/new', 'data-reveal-id' => "add-tunnel-#{token.id}", :title => 'Add a tunnel'}
                %span.p-plus
              %a.flat-link.margin-right-0.tooltipped{:href => '#/placeholder', 'data-reveal-id' => "placeholder-tunnel-#{token.id}", :title => 'Edit placeholder page for this computer'}
                %span.p-image
    .row
      .large-12.columns
        %section.section{'data-section' => token.id, style: first ? '' : 'display: none'}
          .large-12.connectors
            - token.connectors.each do |c|
              = render :'tunnels/_connector', locals: { c: c, token: token}, :layout => nil
            - if token.connectors.size == 0
              .row.new_connector.connector
                .large-12.columns
                  %h4.text-center.padding-left-25.negative-margin-left-15.margin-bottom-0 Add a Connection to this Computer
                  %p.text-center.margin-bottom-50
                    You can add one here, or via the app you have installed on your computer.
                    <br />
                    = link_to "Okay, add a tunnel", '#', class: 'add-tunnel button large margin-top-20', 'data-reveal-id' => "add-tunnel-#{token.id}"
                    <br />
                    = link_to 'I need to download the app again', '/download'
                    <br />
                    %small
                      or <br />
                      = link_to 'Remove this computer from my account', "#", 'data-reveal-id' => "remove-token-#{token.id}"
          -# content_for :javascripts do
    = render :'tunnels/_update', locals: { token: token }
    = render :'tunnels/_new', locals: { token: token }
    = render :'tokens/_delete', locals: { token: token }
    = render :'tunnels/_placeholder', locals: { token: token }


- content_for :javascripts do
  = javascript_include_tag 'tunnels'
  - if @computers.present?
    :coffeescript
      nil = 0
      new Portly.Tunnels.Views.Index([#{@computers.first.data_this_month[0].values}, #{@computers.first.data_this_month[1].values}])
