.subnav
  .row
    .large-11.columns.padding-left-0.padding-right-0.tunnel-nav
      %ul.nav-bar
        - first = true
        - @computers.each do |token|
          %li
            - k = first ? 'active ' : ''
            - k << (token.online? ? 'online' : 'offline')
            %a{'data-section' => token.id, :title => token.ip_address.to_s, :href => "/tunnels/#{token.id}", :class => k, data: { pjax: true, container: '#tunnels'} }
              .large-icon{:class => token.desktop? ? 'p-desktop' : 'p-laptop' }
              = token.computer_name
              <br />
              %small.online-state= token.online? ? 'ONLINE' : 'OFFLINE'
            - first = false
    .large-1.columns.padding-left-0.padding-right-0
- if @computers.size > 0
  #tunnels
    .row
      .large-12
        .summary
          %canvas{width: '600px', height: '180px'}
    .row
      .large-12.columns
        - first = true
        - token = @computers.first
        %section.section{'data-section' => token.id, style: first ? '' : 'display: none'}
          .large-12.connectors
            - token.connectors.each do |c|
              = render :'tunnels/_connector', locals: { c: c, token: token}, :layout => nil
            - if token.connectors.size == 0
              .row.new_connector.connector
                .large-12.columns
                  %h4.text-center.padding-left-25.negative-margin-left-15.margin-bottom-0 Add a Connection to this Computer
                  %p.text-center.margin-bottom-50
                    You can add one here, or via the app you have installed on your computer.
                    <br />
                    = link_to "Okay, add a tunnel", '#', class: 'add-tunnel button large margin-top-20', 'data-reveal-id' => "add-tunnel-#{token.id}"
                    <br />
                    = link_to 'I need to download the app again', '/download'
                    <br />
                    %small
                      or <br />
                      = link_to 'Remove this computer from my account', "#", 'data-reveal-id' => "remove-token-#{token.id}"
          %footer
            %a.button.add-tunnel{:href => '#', 'data-reveal-id' => "add-tunnel-#{token.id}"}
              Add Tunnel
          -# content_for :javascripts do
    = render :'tunnels/_update', locals: { token: token }
    = render :'tunnels/_new', locals: { token: token }
    = render :'tokens/_delete', locals: { token: token }


- content_for :javascripts do
  = javascript_include_tag 'tunnels'
  :coffeescript
    nil = 0
    new Portly.Tunnels.Views.Index([#{@computers.first.data_this_month[0].values}, #{@computers.first.data_this_month[1].values}])
