!!! XML
%rss{:version => "2.0", "xmlns:atom" => "http://www.w3.org/2005/Atom", "xmlns:sparkle" => "http://www.andymatuschak.org/xml-namespaces/sparkle"}
  %channel
    %title Portly Updates
    %link https://getportly.com/downloads/sparkle_updates.xml
    %description Newest Updates for Portly
    %generator Portly
    %docs http://blogs.law.harvard.edu/tech/rss
    %language en
    %pubdate= Time.now.to_s
    %lastbuilddate= Time.now.to_s
    %atom:link{:href => "https://getportly.com/downloads/sparkle_updates.xml", :rel => "self", :type => "application/rss+xml"}
    - @versions.each do |version|
      %item
        %title Version #{version.version}
        %pubdate= version.created_at.to_s
        %enclosure{:length => version.filesize, "sparkle:version" => version.version, :type => "application/octet-stream", :url => "https://getportly.com/downloads/portly_#{version.version}.zip"}
        %guid{:ispermalink => "false"}= version.guid
        %sparkle:releasenoteslink https://getportly.com/downloads/notes/#{version}
